# Git
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test / geliştirme dosyaları
*.ipynb
*.ipynb_checkpoints/
tests/
test_*.py

# README (deploy'da gerekmez)
README.md
